.title-bg {
  padding: 200px;
  background: url("newtitle.jpg");
  background-repeat: no-repeat;
  background-size: 100% 120%;
  height: 100vh;
  }

.title-h1 {
  color: #000080;
  font-family: 'Lobster';
  font-size: 120px;
  padding-bottom:150px;
}

.about-bg {
  padding: 100px;
  background-color: #ffffe6;
  font-family: 'Raleway';
  font-size: 18px;
}

.my-video {
  background-color: honeydew;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bmc{
  width: 100%;
  background-color: honeydew;
}
.img {
  padding-top: 50px;
  display: block;
  margin-left:auto;
  margin-right:auto;
  width:80%;
}
